html {
  font-size: 5px;
}

h1 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 25px;
}

body {
  margin: 0;
}

.map {
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top:0;
  height: 100vh;
}

.handicap-button {
  position: fixed;
  margin: 0rem 3rem 0rem 0rem;
  font-size: 30px;
  top: 100px;
  left: 20px;
  z-index: 50;
}

.icon-menu {
  position: fixed;
  top: -5px;
  left: 20px;
  z-index: 50;
  font-size: 30px;
  color: grey;
}

.icon-menu:hover {
  cursor: pointer;
}

.icon-search {
  position: fixed;
  top: -5px;
  right: 30px;
  z-index: 50;
  font-size: 30px;
  color: grey;
}

.session-button {
  background: rgba(0, 0, 32, 0.7);
  max-width: 250px;
  height: 10rem;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  bottom: 5rem;
  color: whitesmoke;
  margin: 10rem 3rem 0rem 3rem;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  border-radius: 5px;
}

.session-button:hover {
  background: rgba(0, 0, 32, 1);
}

.session-button .container {
  position: relative;
  bottom: 4rem;
  display: flex;
  justify-content: center;
}

.session-button-text {
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5rem;
  padding: 3rem;
  width: 60%;
}

.navbar-text {
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  padding: 1rem;
  width: 60%;
}

.session-info {
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 4px 2px -2px lightgrey;
  padding: 10px 5px;
  font-size: 15px;
  background: rgba(0,0,32,0.7);
  ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px auto;
    width: 87%;
  }
  li {
    text-align: center;
    padding: 15px 10px 0px 10px;
    color: whitesmoke;
  }
}

.car-icon {
  font-size: 80px;
}

.info-icons {
  font-size: 25px;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 7px;
  }

  .icon-menu {
    top: 5px;
    left: 30px;
    font-size: 30px;
  }

  .icon-search {
    top: 5px;
    left: 430px;
    font-size: 30px;
  }
}