html {
  font-size: 5px;
}

@media (min-width: 576px) {
  html {
    font-size: 7px;
  }
}

h1 {
  color: tomato;
}

body {
  height: 100vh;
  margin: 0;
}

.map {
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top:0;
  height: 100vh;
}

.navbar {
  background: white;
  max-width: 500px;
  height: 10rem;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  margin: 10rem 3rem 0rem 3rem;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  border-radius: 5px;
}

.navbar .container {
  position: relative;
  bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.icon-menu {
  color: grey;
  font-size: 6rem;
}

.icon-search {
  color: grey;
  font-size: 6rem;
}

.navbar-text {
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5rem;
  padding: 3rem;
  width: 60%;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}