html { 
  background: url("../images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loading-background {
  background: url("../images/map.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 150;
  pointer-events: none;
}

@media (max-width: 576px) {
  .loading-background {
    background: url("../images/map-mobile.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 150;
    pointer-events: none;
  }
}

.strom-logo {
  background: url("../images/strom.png"); 
  position: absolute;

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  max-height: 300px;
  z-index: 151;
  opacity: 1;
}

.fade-out {
  animation: fadeOut 2s;
  // animation-timing-function: cubic-bezier(1,.12,.91,.26);
  animation-timing-function: cubic-bezier(1,.11,.85,-0.13);  
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}