ul{
  padding-left: 0;
}

li{
  list-style-type: none;
}

.parkade-info h1{
    font-size: 28px;
    background-color: rgba(0, 187, 212, 1);
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 4px 2px -2px lightgrey;
    margin: 0px;
    padding: 22px 10px 10px 20px;
}

.parkade-info div {
    margin: 0px 20px;
    font-size: 18px;
}

.parkade-info ul{
    margin: 10px auto;
}

.parkade-info .button-container{
    display: flex;

    li {
        border: 2px solid grey;
        border-radius: 10px;
        background-color: lightgrey;
        margin: 8px;
        justify-content: center;
    }
}
