ul{
  padding-left: 0;
}

li{
  list-style-type: none;
}

.parkade-info {
  opacity: 0.9;
}

.close-button {
  font-size: 9rem;
  position: absolute;
  display: inline;
  top: 5px;
  right: 5px;
}

@media (min-width: 576px) {
  .close-button {
    font-size: 6rem;
  }
}

.title {
    color: whitesmoke;
    display: flex;
    font-size: 28px;
    font-weight: 400;
    background-color: rgb(33, 150, 243);
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 4px 2px -2px lightgrey;
    margin: 0px;
    padding: 22px 50px 10px 20px;
}

.parkade-info div {
    margin: 0px 0px;
    font-size: 18px;
}

.parkade-info ul{
    margin: 10px auto;
    li {
      border-bottom: 1px solid lightgray;
      padding: 8px 20px;
      font-weight: lighter;
    }
    td {
      padding-right: 5px;
    }
}

.parkade-info .button-container{
    display: flex;
    flex-wrap: nowrap;

    li {
        font-size: 16px;
        margin: 8px;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        color: rgb(33, 150, 243);
    }
}

.spot-info ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 15px;

  li{
    margin: 8px;
    border: 2px solid grey;
    border-radius: 8px;
    width: 44%;
    font-size: 16px;
    padding: 0;
    height: auto;
    background-color: #e9eff1;

    header{
      position: relative;
      border-bottom: 1px solid grey;
      padding: 3px 5px;

      div {
        width: 50%;
      }
      p {
        font-size: 16px;
        margin: 2px;
      }
    }

    svg{
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 22px;
    }

    table{
      padding: 3px 5px;
      width: 100%;

      tr{
        width: 100px;

        td{
          text-align: center;
          width: 50%;
        }
      }
    }
  }
}

