.session-container {
  padding-top: 15px;
  margin: auto;
  width: 400px;
  text-align: center;
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
}

.session-container .session-input {
  border: 1px solid lightgray;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  justify-content: center;
  font-size: 5rem;
  padding: 5px 30px;
  display: inline-block;
  border-radius: 3px;
}

.session-card{
  max-width: 500px;
  margin: 200px auto;
  padding: 20px;
  text-align: center;
}

@media (max-width: 576px) {
  .session-container {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .session-container .session-input {
    font-size: 5rem;
    justify-content: center;
    display: flex;
  }  
  .session-container .session-input svg {
    width: 10%;
    margin-right: 5%;
    margin-top: 10px;
  }
  .session-card {
    margin: 0px auto;
    margin-top: 82px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 100px;
    text-align: center;
  }
}